*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f8f8f8;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 10vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav h1{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument extended;
    font-size: 40px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::after{
    content: "ⓒ";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    top: 20%;
    right: 10%;
}
#nav h1::before{
    content: "model management";
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.7px;
    position: absolute;
    bottom: 22%;
    right: 14%
}
#nav h2{
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 600;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#center{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 4vw;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #f8f8f8;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument extended;
    font-size: 3.6vw;
}

#over1 h2{
    font-size: 1vw;
    padding: 2vw 2vw;
    border-radius: 50%;
    border:1px solid #fff;

}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
#scroll img{
    height: 80%;
    border-radius: 50%;
    width: 16%;
    object-fit: cover;
    object-position: 30% 30%;
    margin: 1vw;
}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 1px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
}
#page2-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2-part2{
    height: 100%;
    width: 46%;
}
#page2-part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
#page2-part1 h2{
    font-family: monument extended;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1vw;
}
#para{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vw;
}
#page2-part2-left{
    font-size: 2vw;
    font-weight: 550;
    line-height: 2.2vw;
}
#page2-part2-right{
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.7vw;
}
#page3{
    height: 100%;
    width: 100%;
    margin-top: 2vw;
    padding: 3.5vw 3vw;
    display: flex;
}
#page3-part1{
    height: 100%;
    width: 40%;
}
#page3-part1 img{
    height: 90%;
    width: 80%;
    padding-left: 3.5vw;
    padding-top: 12vw;
    padding-bottom: 12vw;
    display: flex;
}
#page3-part1 p{
    font-size: 1.5vw;
    font-weight: 550;
    padding-left: 3.5vw;
}
#page3-part2{
    height: 100%;
    width: 55%;

}
#page3-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#page4{
    height: 100%;
    width: 100%;
    padding: 4vw ;
}
#page4 img{
    height: 85%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#page4 h1{
    font-family: monument extended;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    margin-top: 10vw;
    text-align: center;
    justify-content: center;
}
#page5{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 8vw 4vw;
}
.elem{
    height:15vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem img{
    height: 120px;
    width: 140px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    opacity: 0;
    object-fit: cover;
}
.elem:hover img{
    opacity: 1;
    left: 24%;
}
.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}
.elem .elem-part2{
    width: 45%;
}
#page6{
    height: 100%;
    width: 100%;
    padding: 2vw 4vw;
    display: flex;
}
#page6-part1{
    height: 100%;
    width: 50%;
}
#page6-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-right: 3.5vw;
}
#page6-part2{
    height: 100%;
    width: 50%;
}
#page6-part2 h2{
    font-family: monument extended;
    margin-bottom: 2vw;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
}
#page6-part2 h4{
    font-size: 1.4vw;
    margin-bottom: 2vw;
    font-weight: 700;
}
#page6-part2 p{
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 4vw;
}
.box{
    height: 63.7%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-right: 2vw;
}
#img2 img{
    height: 100%;
    object-fit: cover;
}
#page7{
    height: 100%;
    width: 100%;
}
#page7 img{
    height: 100%;
    width: 100%;
    padding: 2vw 4vw;
    object-fit: cover;
}
#page8{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 2vw 4vw;
}
#left{
    height: 100%;
    width: 60%;
}
#right{
    height: 100%;
    width: 40%;
}
#left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-right: 3vw;
}
#right img{
    height: 75%;
    width: 100%;
    object-fit: cover;
}
#content{
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 0;
}
#content h3{
    font-size: 1.7vw;
    font-weight: 600;
}
#content p{
    font-size: 1.3vw;
    font-weight: 600;
}
#page9{
    height: 100%;
    width: 100%;
}
#okay{
    width: 100%;
    white-space: nowrap;
    padding: 0.8vw;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#okay h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    font-family: monument extended;
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#footer{
    height: 100%;
    width: 100%;
    padding: 4vw 3.5vw;
}
#img{
    height: 100%;
    width: 100%;
    
}
#img img{
    height: 100%;
    width: 43%;
    padding: 0 1vw;
    padding-bottom: 10vw;
    object-fit: cover;
}
#content1{
    height: 30vh;
    width: 100%;
position: relative;
}
#ending{
    padding: 8vw;
    background-color: rgba(52, 52, 48, 0.114);
}
#content1 h1{
    font-family: monument extended;
    font-size: 2.5vw;
    font-weight: 600;
}
#content1 h4{
    font-size: 1.5vw;
    font-weight: 400;
}
#content1 h3{
    font-size: 1.5vw;
    font-weight: 400;
}
.element h4{
    padding-top: 3vw;
}
.element p{
    font-size: 1.2vw;
    font-weight: 400;
}